@media (min-width: 800px) {
  .grid_6-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(5, 1fr); */
    gap: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
  }

  .box_review1 {
    grid-row: 1/3;
    grid-column: 1;
  }

  .box_review2 {
    grid-row: 3/5;
    grid-column: 1;
  }

  .box_review3 {
    grid-row: 2/3;
    grid-column: 2;
  }

  .box_review4 {
    grid-row: 4/5;
    grid-column: 2;
  }

  .grid_6-2 img {
    border: 10px solid #faf5c3;
  }
}
