@media (min-width: 800px) {
  .grid_6-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(5, 1fr); */
    gap: 80px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
  }

  .box_review1 {
    grid-row: 1/3;
    grid-column: 1;
  }

  .box_review2 {
    grid-row: 3/5;
    grid-column: 1;
  }

  .box_review3 {
    grid-row: 2/3;
    grid-column: 2;
  }

  .box_review4 {
    grid-row: 4/5;
    grid-column: 2;
  }

  .grid_6-2 img {
    border: 10px solid #faf5c3;
  }

  #strikkekat {
    position: absolute;
    width: 5%;
    aspect-ratio: 151/93;
    top: 122%;
    left: 15%;
    z-index: -1;
  }
  #strikkekatten {
    background-image: url(/billeder/strikkekat.svg);
    background-size: cover;
    width: 173.5%;
    height: 309%;
    position: relative;
    grid-column: 1;
  }
  #laesekat {
    position: absolute;
    width: 6%;
    aspect-ratio: 151/93;
    top: 47%;
    left: 80%;
    z-index: -1;
  }
  #laesekatten {
    background-image: url(/billeder/laesekat.svg);
    background-size: cover;
    width: 101.5%;
    height: 309%;
    position: relative;
    grid-column: 1;
  }
}
