/** events delen **/

.event_container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 540px;
  margin: 0 20px;
  /* width: 1000px; */
  overflow-x: scroll;
  gap: 20px;
  scroll-snap-type: x mandatory;
  border-radius: 10px;
  margin-bottom: 10%;
  margin-top: 5%;
}
.event_box {
  /* scroll-snap-align: start; */
  width: 100%;
  height: 500px;
}

.event_box img {
  display: block;
  width: 270px;
  height: 250px;
  object-fit: cover;
}

.event_box h2 {
  text-align: right;
  font-weight: bold;
}

.text_on_pic {
  display: grid;
  place-items: center;
}
.text_on_pic h3 {
  font-size: 2cqw;
  text-align: center;
}

img,
h3 {
  grid-area: 1/1;
}

@media (min-width: 800px) {
  .event_container {
    width: 1150px;
  }
}

.event_box p {
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  background-color: #faf5c3;
  color: #12233f;
  min-height: 230px;
}

/* .eventbox {
  display: grid;
}
.event_box h3,
img {
  grid-area: 1/1;
} */

/** booking delen**/
.eventbooking {
  text-align: center;
  font-size: 8cqw;
}

@media (min-width: 800px) {
  .eventbooking {
    text-align: right;
    font-size: 3cqw;
    text-indent: -25px;
  }
  .booking_container {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 100px;
    padding: 20px;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_1-2 img {
    padding-left: 30px;
    padding-top: 80px;
  }

  .booking_container h2 {
    font-size: 3cqw;
  }
  .send_knap button[type="submit"] {
    font-size: 4cqw;
  }
}
.booking_container {
  background-color: #f2cbdd;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.grid_1-2 {
  gap: 20px;
}

label,
input,
textarea,
select,
button {
  display: block;
}

form {
  display: grid;
  gap: 2rem;
}

.form-felt {
  display: grid;
  gap: 3px;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #fbeaf2;
  font-family: "Trykker", serif;
  font-size: 1.2rem;
  color: #605959;
  border: none;
  gap: 10px;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 2%;
  margin-right: 5px;
}

.send_knap button[type="submit"] {
  background-color: #faf5c3;
  font-family: inter;
  font-weight: 500;
  color: #12233f;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2cqw;
  position: relative;
  left: 72%;
  margin-bottom: 2%;
}

.send_knap button[type="submit"]:hover {
  opacity: 80%;
}
.booking_container h2 {
  font-size: 5cqw;
  color: #12233f;
  padding-bottom: 30px;
}

/* li a {
  border: 1px solid #faf5c3;
} */
