/*** font reset ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #12233f;
}

/* footer layout */

.footer {
  list-style: disc;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: start;
}
li:hover {
  color: chartreuse;
}
.footerto {
  list-style: disc;
  display: flex;
  flex-direction: column;
}
.some {
  display: flex;
  flex-direction: column;
  grid-column: 5;
  grid-row: 1;
  max-width: 60px;
  max-height: 60px;
}

footer {
  position: relative;
  bottom: 0;
  display: grid;
  background-color: #2d3691;
  width: 100%;
  margin-bottom: 0;
  padding-left: 20px;
}
img.insta {
  max-width: 60px;
}

@media (max-width: 1000px) {
  footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    background-color: #2d3691;
    width: 100%;
    padding-left: 20px;
    z-index: 1;
  }
  .footer {
    grid-column: 1;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .footerto {
    grid-column: 1;
    margin-top: 0;
    padding-top: 10px;
  }
  .some {
    grid-column: 3;
    padding-top: 2.8rem;
  }
}

@media (min-width: 800px) {
  footer {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    min-height: 150px;
    z-index: 999;
  }
  .footer {
    grid-column: 1;
  }
  .footerto {
    grid-column: 2;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .some {
    grid-column: 3;
    padding-top: 1rem;
  }
}

/* footer slut */
