main {
  padding-top: 0;
  margin: 0;
}

#indexh1 {
  position: absolute;
  margin-top: 5%;
  border-bottom: none;
  font-size: 2.8rem;
  text-align: left;
  background-color: #fdd1f9;
  color: #12233f;
  max-width: 85%;
  left: 0;
  padding: 3%;
  opacity: 90%;
}

video {
  width: 760px;
}

.video_container {
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr 1fr 2fr;
}

.openinfo,
.addressinfo {
  margin-top: 100%;
  margin-top: 118%;
  margin-left: 10%;
}

#plantecontainer {
  position: absolute;
  width: 20%;
  aspect-ratio: 43/50;
  top: 120%;
}
#indexplante {
  background-image: url(/billeder/indexplante.svg);
  background-size: cover;
  width: 133.5%;
  height: 133%;
  position: relative;
  grid-column: 1;
}

.story,
.reviews {
  padding: 15%;
  z-index: 10;
}

.picture_text1 h3 {
  transform: translate(18%, 371%);
}
.picture_text1 a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;
}

@media (min-width: 800px) {
  main {
    padding-top: 0;
    max-width: none;
  }

  .picture_text1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .openinfo,
  .addressinfo {
    margin-top: 100%;
    margin-top: 260px;
    margin-left: 9%;
  }
}

@media (min-width: 1050px) {
  .openinfo,
  .addressinfo {
    margin-top: 118%;
  }
}
@media (max-width: 800px) {
  #indexh1 {
    margin-top: -18%;
    z-index: -10;
    max-width: 92%;
  }

  #plantecontainer {
    top: 107%;
    z-index: -10;
    width: 36%;
  }
  video {
    width: 400px;
    position: absolute;
    right: 0;
    z-index: -20;
  }
  main {
    padding-top: 30%;
  }
}
