#indexh1 {
  margin-top: 5%;
  border-bottom: none;
  font-size: 3rem;
  text-align: left;
  background-color: #ffc0f9;
  color: #12233f;
  max-width: 85%;
}

.video_container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.openinfo,
.addressinfo {
  margin-top: 10%;
}

#indexplante {
  background-image: url(/billeder/indexplante.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  grid-column: 1;
  top: -30%;
}
