main {
  padding-top: 0;
  margin: 0;
}

#indexh1 {
  position: absolute;
  margin-top: 5%;
  border-bottom: none;
  font-size: 2.8rem;
  text-align: left;
  background-color: #fdd1f9;
  color: #12233f;
  max-width: 85%;
  left: 0;
  padding: 3%;
  opacity: 90%;
}

.kortvideo {
  width: 760px;
}

.video_container {
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr 1fr 2fr;
}

.openinfo,
.addressinfo {
  margin-top: 125px;
  margin-left: 10%;
}

#plantecontainer {
  position: absolute;
  width: 20%;
  aspect-ratio: 43/50;
  top: 750px;
}
#indexplante {
  background-image: url(/billeder/indexplante.svg);
  background-size: cover;
  width: 133.5%;
  height: 133%;
  position: relative;
  grid-column: 1;
}

.text_on_pic {
  padding: 15%;
  z-index: 10;
}

.picture_text1 h3 {
  transform: translate(0%, 333%);
}

.picture_text1 a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2rem;
}

.picture_text1 a:hover {
  border: none;
}

@media (min-width: 800px) {
  main {
    padding-top: 0;
    max-width: none;
  }

  .picture_text1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .text_on_pic {
    display: grid;
    place-items: center;
    text-align: center;
  }

  .picture_text1 h3 {
    transform: translate(0%, -133%);
  }

  .openinfo,
  .addressinfo {
    margin-top: 100%;
    margin-top: 260px;
    margin-left: 9%;
  }
}

@media (min-width: 1050px) {
  .openinfo,
  .addressinfo {
    margin-top: 246px;
  }
}
@media (max-width: 800px) {
  #indexh1 {
    margin-top: -18%;
    z-index: -10;
    max-width: 92%;
  }

  .picture_text1 {
    margin-top: 80px;
  }

  #plantecontainer {
    top: 124%;
    z-index: -10;
    width: 36%;
  }
  .kortvideo {
    width: 400px;
    position: absolute;
    right: 0;
    z-index: -20;
    margin-top: -180px;
  }
  main {
    padding-top: 30%;
  }
}
