/** media query **/
.flex_col {
  margin: 0 10px 20px 10px;
}

.flex_col img {
  margin: 20px 10px 20px 10px;
}

@media (min-width: 800px) {
  .omos {
    text-align: right;
    margin-right: 200px;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .flex_col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
  }
  /* .flex_col > :last-child {
    margin-top: auto;
  } */
  .flex_col img {
    width: 100%;
    height: auto;
  }
  .flex_col1 > :last-child {
    margin-top: auto;
  }
}

/* .grid_1-1-1 {
  margin: 30px;
}
main h1 {
  margin-left: 30px;
}
.flex_col {
  padding: 20px;
}
.flex_col h2 {
  padding-bottom: 20px;
}
.flex_col h3 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.4rem;
}
.flex_col p {
  padding-bottom: 20px;
  font-size: 1rem;
} */
