.ourstory_container p {
  margin: 40px;
  padding-top: 20px;
}

h2 {
  font-size: 4cqw;
  text-indent: 3rem;
  padding-top: 50px;
}

.story_video_con {
  display: flex;
}

.ourstory_container video {
  margin: auto;
  justify-content: center;
  border: 3px solid #faf5c3;
  max-width: 450px;
  max-height: 450px;
}

@media (min-width: 800px) {
  .ourstory_container video {
    margin: auto;
    justify-content: center;
    border: 3px solid #faf5c3;
    max-width: 850px;
    max-height: 850px;
  }
}

.contributors_container p {
  margin: 40px;
  padding-top: 0px;
}

.contributors_container img {
  max-width: 300px;
  max-height: 300px;
  margin: auto;
}

#streg_emilie {
  min-width: 350px;
  min-height: 350px;
}

.contributors_container {
  padding-top: 60px;
}

#con_p {
  margin-top: 50px;
  text-align: center;
}

#vinglascontainer {
  display: none;
}

#flaskecontainer {
  display: none;
}

@media (min-width: 800px) {
  #vinglascontainer {
    display: block;
    position: absolute;
    width: 6%;
    aspect-ratio: 16.7/41.06;
    left: 30px;
    top: 924px;
    z-index: -1;
  }
  #vinglassprite {
    background-image: url(billeder/vinglas.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
  }

  #flaskecontainer {
    display: block;
    position: absolute;
    width: 6%;
    aspect-ratio: 24.08/79.88;
    right: 30px;
    top: 425px;
    z-index: -1;
  }
  #flaskesprite {
    background-image: url(billeder/flaske.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@media (min-width: 800px) {
  h2 {
    font-size: 2cqw;
    text-indent: 3rem;
    padding-top: 50px;
  }

  .contributor {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contributor img {
    grid-column: 2/3;
    padding-left: 30px;
    padding-top: 20px;
    max-height: 250px;
  }

  .ourstory_container p {
    margin: 65px;
    font-size: 20px;
  }
}
