.ourstory_container p {
  margin: 40px;
  padding-top: 20px;
}

h2 {
  font-size: 5cqw;
  text-align: center;
}

h3 {
  font-size: 4cqw;
  text-indent: 3rem;
  padding-top: 50px;
}

.ourstory_container video {
  margin: auto;
  border: 3px solid #faf5c3;
}

.contributors_container p {
  margin: 40px;
  padding-top: 0px;
}

.contributors_container img {
  max-width: 300px;
  max-height: 300px;
  margin: auto;
}

#streg_emilie {
  min-width: 350px;
  min-height: 350px;
}

.contributors_container {
  padding-top: 60px;
}

#con_p {
  margin-top: 50px;
  text-align: center;
}

@media (min-width: 800px) {
  #vinglascontainer {
    position: absolute;
    width: 6%;
    aspect-ratio: 17.2/41.56;
    left: 30px;
    top: 120%;
    z-index: -1;
  }
  #vinglassprite {
    background-image: url(/billeder/vinglas.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
  }

  #flaskecontainer {
    position: absolute;
    width: 6%;
    aspect-ratio: 24.08/79.88;
    right: 30px;
    top: 50%;
    z-index: -1;
  }
  #flaskesprite {
    background-image: url(/billeder/flaske.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@media (min-width: 800px) {
  h3 {
    font-size: 2cqw;
    text-indent: 3rem;
    padding-top: 50px;
  }

  .contributor {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .contributor img {
    grid-column: 2/3;
    padding-left: 30px;
    padding-top: 20px;
    max-height: 250px;
  }

  .ourstory_container p {
    margin: 65px;
    font-size: 20px;
  }
}
